* { margin:0; padding: 0; list-style: none; }
body { font-family: Arial,Tahoma; color:#333; background: #eee; }

#page { margin: 0 auto; width: 800px; background: #fff; padding:40px; margin-top: 20px; margin-bottom: 20px; border: 1px solid #777; box-shadow: #999 1px 1px 3px; }
#page h1 { font-weight: normal; font-size: 32px; letter-spacing: -2px; margin:0 0 20px 0; border-bottom: 1px solid #ddd; padding:0 0 10px 0; }
#page h2 { font-weight: bold; font-size: 22px; letter-spacing: -1px; font-style: italic; margin:40px 0 0 0; }
#page h3 { float: right; }
#page h3 a { font-weight: normal; font-size: 16px; color:#004499; }
#page h3 a:hover { color:#333; }

/*HEADER*/
.logo{
	margin-top: 5px; margin-left: 10px;
}
/*Por debajo de 700px*/
@media screen and (max-width: 700px){
	.logo{
		width: 15%;
	}
}

/* Por debajo de 400px */
@media screen and (max-width: 400px){
	.logo{
		width: 15%;
	}
}

.slogan{
	margin-top:-40px;
	margin-left:600px;
	font-weight:bold;
	font-family:verdana;
	color:#4B465E;font-size:20px;
}


/* Por debajo de 700px */
@media screen and (max-width: 700px){
	.slogan{
		margin-top:-40px;
		margin-left:600px;
		font-weight:bold;
		font-family:verdana;
		color:#4B465E;font-size:20px;
	}
}

/*por debajo de 500px*/
@media screen and (max-width:500px){
	.slogan{
		margin-top:-40px;
		margin-left:600px;
		font-weight:bold;
		font-family:verdana;
		color:#4B465E;font-size:10px;
	}
}

/* Por debajo de 400px */
@media screen and (max-width: 400px){
	.slogan{
		margin-top:0px;
		margin-left:20px;
		font-weight:bold;
		font-family:verdana;
		color:#110E3A;font-size:12px;
	}
}